<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Index Page</title>

  <style>
    .angular-google-map-container {
      width: 100%;
      height: 504px;
    }
  </style>

  <link href="/css/preview-frame.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">


  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
</head>
<body data-ng-controller="billingCtrl">  
  <ion-nav-view></ion-nav-view>
   
   
  <ion-header-bar class="bar-energized">
    <h1 class="title">Billing Details</h1>
    <button class="button" data-ng-click="refresh();">
      <i class="icon ion-refresh"></i>
    </button>
  </ion-header-bar>
  <ion-content>
   <!-- {{"billingData.length : " + billingData.length}}
    <div data-ng-show="billingData.length <= 0">No records found. Pull to refresh or click on the refresh button.</div> -->
    <ion-refresher
      pulling-text="Pull to refresh..."
      refreshing-text="Refreshing..."
      on-refresh="refresh();">
    </ion-refresher>
    
    <div class="card" data-ng-repeat="billItem in billingData">
      <div class="item item-divider">
        {{billItem.month}}
      </div> 
      <div class="item item-body">
        <div class="row">
          <div class="col">Total Bills</div>
          <div class="col">{{billItem.totalBills}}</div>
        </div>
        <div class="row">
          <div class="col">Total Amount</div>
          <div class="col">{{billItem.totalAmount | number:4}}</div>
        </div>
        <div class="row">
          <div class="col">Average</div>
          <div class="col">{{billItem.average | number:4}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</body>
</html>